section.mediaDetail

    h4 #{mediaTitle}

    section
        img

        span #{mediaDate}

    section

        p.description #{mediaDescription}

        p.info #{mediaInfo}

    button Go To Site 

    button Blog Post 
